.dc-chart g.row text {
    fill: black;
}

.dc-chart .pie-slice {
    fill:black;
}

.x-axis-label{
    font-size:12px;
}

.his_chart {
    width:100%;
}

#header{
    padding-bottom:20px;
    border-bottom-color: #dddddd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom:20px;
}